/* General Stuff */
/* Colors */
$black: #000;
$white: #fff;
$green: #73a900;
$red: #ff0000;

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700);

/*
	General Bootstrap Variables
		List with all variables can be found here:
			node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables
*/
$currencies-bg: #000022;
$page-title-color: #9698B2;

$body-bg: #eee;
// $font-family-sans-serif:  Ubuntu, Helvetica, Arial, sans-serif;
// $font-family-serif:       Ubuntu, Georgia, "Times New Roman", Times, serif !default;
$font-family-sans-serif: 'Lato', sans-serif;

$grid-columns: 12;
$grid-gutter-width: 15px;

$navbar-default-color: $page-title-color;
$navbar-default-bg: #fff;

@import "bootstrap";
/* END */

/* Importing app stuff! */
@import "mixins";
@import "utilities";
@import "default";
@import "components/_datepicker";
@import "components/_nav";
@import "components/_table";
@import "components/_ad";
@import "components/_header";
@import "components/_footer";
@import "components/_panel";
@import "components/_chart";
@import "components/_currencies";




