/* General Stuff */
/* Colors */
$black: #000;
$white: #fff;
$green: #73a900;
$red: #ff0000;

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700);

/*
	General Bootstrap Variables
		List with all variables can be found here:
			node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables
*/

$body-bg: #eee;
// $font-family-sans-serif:  Ubuntu, Helvetica, Arial, sans-serif;
// $font-family-serif:       Ubuntu, Georgia, "Times New Roman", Times, serif !default;
$font-family-sans-serif: 'Lato', sans-serif;

$grid-columns: 12;
$grid-gutter-width: 15px;

$navbar-default-color: #9698B2;
$navbar-default-bg: #000022;

$navbar-default-link-color:	$navbar-default-color;
$navbar-default-link-hover-color:	 #fff;
$navbar-default-link-active-bg: $body-bg;

// // Navbar brand label
// $navbar-default-brand-color:               $navbar-default-link-color !default;
// $navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
// $navbar-default-brand-hover-bg:            transparent !default;

// // Navbar toggle
$navbar-default-toggle-hover-bg: $navbar-default-link-active-bg;
$navbar-default-toggle-icon-bar-bg: $navbar-default-color;
$navbar-default-toggle-border-color: $navbar-default-color;


@import "bootstrap";
/* END */

/* Importing app stuff! */
@import "mixins";
@import "utilities";
@import "default";
@import "components/_datepicker";
@import "components/_nav";
@import "components/_table";
@import "components/_ad";
@import "components/_header";
@import "components/_footer";
@import "components/_panel";
@import "components/_chart";
@import "components/_currencies";




