
// body { box-shadow: inset 0 0 48px 0px rgba(#B8B8C1, 1); }


// Sticky footer ...
$footer-height: 60px;

html { position: relative; min-height: 100%; }
body { margin-bottom: $footer-height; }
.footer { position: absolute; bottom: 0; width: 100%; height: $footer-height; line-height: $footer-height; }