/* 
	Should contain styles that apply to the component itself 
	and no changes to the components that it will include! 
*/

.currencies-dropdown {
	.dropdown-menu { max-height: 240px; overflow-y: auto; }
	
}

.currencies-list { padding: 0; margin: 0;
	li { background: #f9f9f9; width: 18%; padding: 0; margin: 1%; text-align: center;
		& + li { margin-left: 0; }
	}
}